<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link href="../static/css/bootstrapp.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<h1>Vista de dias</h1>
<div class="container">

    <table class="table">
        <thead>
        <th>Especie</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="especiality : ${list}">

            <td th:text="${especiality.especialidad}">

        </tr>
        </tbody>
    </table>

    <a th:href="@{/addEspecialidad/{id}(id=${userBD})}" class="btn btn-primary">Agregar</a>

</div>

</body>
</html>