<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
    <link href="../static/css/bootstrapp.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<h1>VENTA PRODUCTOS</h1>
<div class="container">


<table class="table">
    <thead>
    <th>id</th>
    <th>nombre</th>
    <th>precio</th>
    <th>regular</th>
    <th>stock</th>
    <th></th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="producto : ${list}">

        <td th:text="${producto.id}">
        <td th:text="${producto.name}">
        <td th:text="${producto.price}">
        <td th:text="${producto.regular}">
        <td th:text="${producto.stock}">
        <td><input type="number" class="form-control" :id="stockVenta" name="stockVenta"  value="0"  min="0" max="${producto.stock}"></td>
        <td><a class="btn btn-danger" th:href="@{/productoVenta/{id}(id=${producto.id})}">Vender</a></td>
    </tr>
    </tbody>
</table>
<!--
    <a href="/listaProductos" class="btn btn-primary">Atras</a>
-->
</div>

</body>
</html>