<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link href="../static/css/bootstrapp.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<h1>Seleccionar dias</h1>
<div class="container">
    <form action="#" th:action="@{/workDaysSave}" class="form-goup" th:object="${vetDays}" method="post">

        <input type="hidden" th:field="*{id}" name="id" id="id">
<!--
        <label>ID: <span th:text="${vetDays.day1}"></span></label>
-->
        <div class="form-group">

            <label >Dia 1:</label>
            <br>
            <select name="day1" th:field="*{day1}">
                <option value="lunes" >lunes</option>
                <option value="martes" >martes</option>
                <option value="miercoles" >miercoles</option>
                <option value="jueves" >jueves</option>
                <option value="viernes" >viernes</option>
                <option value="sabado" >sabado</option>
            </select>
            <br>
        </div>

        <div class="form-group">

            <label >Dia 2:</label>
            <br>
            <select name="day2"  th:field="*{day2}">
                <option value="lunes" >lunes</option>
                <option value="martes" >martes</option>
                <option value="miercoles" >miercoles</option>
                <option value="jueves" >jueves</option>
                <option value="viernes" >viernes</option>
                <option value="sabado" >sabado</option>
            </select>
            <br>
        </div>

        <div class="form-group">

            <label >Dia 3:</label>
            <br>
            <select name="day3"  th:field="*{day3}">
                <option value="lunes" >lunes</option>
                <option value="martes" >martes</option>
                <option value="miercoles" >miercoles</option>
                <option value="jueves" >jueves</option>
                <option value="viernes" >viernes</option>
                <option value="sabado" >sabado</option>
            </select>
            <br>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>

    </form>
<!--
    <a href="/listaUsers" class="btn btn-primary">Atras</a>
-->
</div>

</body>
</html>